/*** Variables ***/
:root {
  /* colors */
  --aqua: #4ee4be;

  --black: #000;
  --gray-d: #333;
  --gray: #555;
  --gray-l: #aaa;
  --white: #fff;

  /* fonts */
  --sans: 'Inter', sans-serif;
}

/*** Base ***/
body {
  background-color: var(--black);
  display: block;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  color: var(--white);
  font-family: var(--sans);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1;
}

h2 {
  color: var(--aqua);
  font-family: var(--sans);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.4;
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  color: var(--white);
  font-family: var(--sans);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.4;
  margin-block-end: 1em;
  margin-block-start: 0;
}

h4 {
  color: var(--white);
  font-family: var(--sans);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.4;
}

p {
  color: var(--white);
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.4;
}

a {
  border-bottom: 1px solid var(--aqua);
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  background-color: var(--aqua);
  color: var(--black);
}

a.btn {
  background-color: var(--aqua);
  border-radius: 5px;
  color: var(--black);
  font-family: var(--sans);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 50px;
}

a.btn:hover {
  background-color: var(--white);
  color: var(--black);
}

hr {
  border: 1px solid var(--gray);
  margin: 3em 0;
}

input[type='email'] {
  background-color: var(--gray-d);
  border-radius: 5px;
  border: 1px solid var(--gray);
  color: var(--white);
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  width: 420px;
}

input[type='button'],
input[type='submit'] {
  background-color: var(--aqua);
  border-radius: 5px;
  border: none;
  color: var(--black);
  font-family: var(--sans);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 50px;
}

input[type='button'],
input[type='submit']:hover {
  background-color: var(--white);
  border: 0;
  color: var(--black);
}

footer {
  color: var(--gray-l);
  font-family: var(--sans);
  font-size: 12px;
  font-weight: 400;
  margin: 6em 0 0;
  text-align: left;
}

footer a {
  border: 0;
  font-weight: 400;
}

/*** Section Logo ***/
.logo {
  background-color: var(--white);
  display: block;
  height: 215px;
}

/*** Section Body ***/
.body {
  box-sizing: border-box;
  height: auto;
  padding: 110px 120px;
  position: relative;
}

.body__contact {
  color: var(--aqua);
  display: block;
  font-family: var(--sans);
  text-align: center;
}

#mc_embed_signup {
  background: #000;
  clear: left;
  font-size: 14px;
  font-family: var(--sans);
}

#mc_embed_signup form {
  padding: 10px 0
}

/*** Media Queries ***/
@media screen and (min-width: 750px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .logo {
    height: 100%;
    flex-basis: 50%;
  }

  .body {
    flex-basis: 50%;
  }

  .body__contact {
    position: absolute;
    top: 30px;
    right: 40px;
  }
}